*, *::before, *::after {
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 300px;
  }
}

body {
  background-color: aquamarine;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: rgb(200, 255, 237);
  margin: 25px 0;
  text-align: center;
}

.card-content {
  padding: 30px;
}

.card-socials {
  padding: 10px;
}

h1, h2 {
  font-weight: 600;
  line-height: 1.2rem;
}

h1 {
  font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: rgb(21, 21, 24);
  margin-bottom: 50px;
}

h2 {
  font-size: 22px;
  color: rgb(0, 0, 77);
  margin-bottom: 20px;
}

p {
  margin: 3px;
  padding: 3px;
}

li {
  margin: 5px 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 77);
}

a:hover {
  color: rgb(0, 0, 20)
}

a.button {
  font-size: 14px;
  padding: 10px;
  border: 1px outset buttonborder;
  border-radius: 5%;
  color: buttontext;
  background-color: aquamarine;
  text-decoration: none;
}

#btn-lewagon {
  margin: 20px 0px;
}
